// Colors
$primary-color: #feb95a;
$secondary-color: #232228;
$dark-color: #0c0b10;
$text-primary-color: #fff;
$text-secondary-color: #8a8a8c;
$tertiary-color: rgba(60, 115, 177, 1);
$quartinary-color: rgba(122, 240, 224, 1);
$quinary-color: rgb(207, 44, 44);


//rbga Colors
$primary-linear-gradient: linear-gradient(to right top, rgb(26, 27, 27) 70%, rgba(254, 185, 90, 0.3) 100%);
$secondary-linear-gradient:linear-gradient(to right top, rgb(26, 27, 27) 70%, rgba(219, 108, 136, 0.2) 100%);
$tertiary-linear-gradient: linear-gradient(to right top, rgb(26, 27, 27) 70%, rgba(60, 115, 177, 0.3) 100%);
$quartinary-linear-gradient: linear-gradient(to right top, rgb(26, 27, 27) 70%, rgba(122, 240, 224, 0.3) 100%);
$quinary-linear-gradient: linear-gradient(to right top, rgb(26, 27, 27) 70%, rgba(207, 44, 44, 0.3) 100%);


// Button
$primary-btn-linear-gradient: linear-gradient(to right, rgba(254, 185, 90, 1) 35%, rgb(246, 146, 6) 100%);
$secondary-btn-linear-gradient:linear-gradient(to top, rgba(26, 27, 27, 1) 55%, rgba(219, 108, 136, 0.2) 100%);
$tertiary-btn-linear-gradient: linear-gradient(to top, rgba(26, 27, 27, 1) 55%, rgba(60, 115, 177, 0.3) 100%);
$quartinary-btn-linear-gradient: linear-gradient(to top, rgba(26, 27, 27, 1) 55%, rgba(122, 240, 224, 0.3) 100%);


$primary-icon-background:rgb(255, 193, 7);
$secondary-icon-background:rgb(219, 108, 136);
$tertiary-icon-background:rgb(60, 115, 177);
$quartinary-icon-background:rgb(122, 240, 224);

@mixin linearGradient($color, $linear-color) {
    background: $color;
    background: $linear-color;
}


// $tertiary-icon-background: